@font-face {
    font-family:"GOTfont";
    src: url("../fonts/Game of Thrones.ttf")
}
h1,
h2,
h3,
h4,
h5{
	margin: 20px;
	font-family: "GOTfont";
}
a{
	font-family: "GOTfont";
}
*{
	margin: 0;
	border: 0;
}
header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.2);
	width: 100%;
	z-index: 20;
}
nav{
	display: flex;
	justify-content: space-around;
	margin-right: 10px;

}
nav a{
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	font-size: 12px;
}
nav a:hover{
	background:  #373737;
	font-weight: bolder;
	transition: 400ms;
}
.logo{
	margin-left: 20px;
	color: white;
	height: 50px;
}
.video-container{

	background-color: black;
}
.background-video{
	width: 100%;
}
.intro-container{
	position: relative;
}
.intro-content-wrapper{
	position: absolute;
	width: 40%;
	border-radius: 10px;
	padding: 10px 50px 10px 50px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 70%;
}
.intro-button{
	margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #373737;
	color: white;
}

.intro-button:hover{
	background-color: black;
	color: white;
	border: 1px solid #373737;
}
.about-container{
	position: relative;
	background: #E0E0E0;
	width: 100%;
}
.about-content-wrapper{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.about-content{
	text-align: center;
	width: 60%;
	margin: auto;
}
footer{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: #E0E0E0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #373737;
}